body{
    background-color: white;
}
.footer-container {
    background-color:rgb(29, 161, 242) ;
    color:white;
}
/* }style={{color:"white", background:"#1DA1F2"}} */
/* For Mobile */

.header h1{
    color: red;
}
.header-image{
    width:60%;
    height:70%;
    margin-left: auto;
  margin-right: 0;
    display: flex;
    justify-content: flex-end;
    background-color: bisque;
}
.header-image img{
    width: 100%;
    height: 100%;

}
.headerimage-container{
    margin-left:auto;
    margin-right:0;
    background-color: rgb(43, 104, 173);
    width:60%;
    height:500px;
}
